# Pandas challenges

Read the `veahicles.csv` dataframe and store it in a variable called `cars`:

In [49]:
import pandas as pd
cars = pd.read_csv('vehicles.csv')

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [87]:
    #How many rows and columns are there? 
#print(cars)
cars.shape
# Are there missing values?    
#print(cars.info())

#Prints the the data types of the columns
#print(cars.dtypes)

#What are the ranges / distributions of the numerical columns?
#print(cars.describe())

#What are the value counts for the categorical columns?
#cars.columns.value_counts()

(35952, 15)

Drop the column "Combined MPG"

In [51]:
# Drop Column Combined MPG
#cars = cars.drop('Combined MPG',1)
#print(cars.info())

Change column names so that there are no names with spaces or weird special characters:

In [92]:
#cars.columns=cars.columns.str.replace('[#,@,&]', '')
cars.columns = cars.columns.str.replace(' ','_')
cars.columns = cars.columns.str.replace('/','_')
print(cars.info())
# ??????
#cars.columns.rename(to_rename=replacements, inplace=True, regex=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine_Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle_Class            35952 non-null  object
 8   Fuel_Type                35952 non-null  object
 9   Fuel_Barrels_Year        35952 non-null  float64
 10  City_MPG                 35952 non-null  int64
 11  Highway_MPG              35952 non-null  int64
 12  Combined_MPG             35952 non-null  int64
 13  CO2_Emission_Grams_Mile  35952 non-null  float64
 14  Fuel_Cost_Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB
None

What brand has the most cars?

In [89]:
#cars.value_counts().sort_values(ascending=False).reset_index().head(5)
cars.Make.value_counts().head()

Chevrolet    3643
Ford         2946
Dodge        2360
GMC          2347
Toyota       1836
Name: Make, dtype: int64

What brand has the worse CO2 Emissions on average?

In [100]:
#CO2 Emission Grams/Mile
#What brand has the worse CO2 Emissions on average?
#ars.groupby(['CO2_Emission_Grams_Mile','Make'])['CO2_Emission_Grams_Mile']
#ars.loc[cars['CO2_Emission_Grams_Mile'].idxmax()]
(cars
     .groupby("Make")
     ["CO2_Emission_Grams_Mile"]
     .mean().
     sort_values(ascending =False)
     .head(3)
)

Make
Vector                                1049.159722
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Name: CO2_Emission_Grams_Mile, dtype: float64

Which brands are more environment friendly?

In [19]:
#cars.CO2_Emission_Grams_Mile.sort_values().reset_index().head(10)
#took me FOREVER to figure this out
new = cars.groupby('Make', as_index=False).agg({"CO2_Emission_Grams_Mile": "mean"}).sort_values(by = ["CO2_Emission_Grams_Mile"]).head(10)
new

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [325]:
# quads by 10 year scale
#Need fixing     ????
quad = cars.groupby('Year', as_index=False).count()
#quad

Did cars consume more gas in the eighties?

In [6]:
# code here
# count all cars type fuel = gas between 1980-1989 in avg and then the rest ??

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [8]:
# code here
# in the next notebook, we will learn how we can clean the "Trans" column

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [20]:
# code here
group1 = cars.groupby('Fuel_Type', as_index=False).agg({"Cylinders": "max","Year": "min","City_MPG" : "mean"}).head(14)
group1

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

In [ ]:
# code here

Read the `car_brands.csv` data:

In [83]:
# code here
brands = pd.read_csv('car_brands.csv')
brands

                           brand  revenue  production
0                     AM General     1537    1.002916
1               ASC Incorporated      232    1.628105
2                          Acura      234    3.394481
3                     Alfa Romeo     1174    2.313726
4    American Motors Corporation     1230    1.231024
..                           ...      ...         ...
122                   Volkswagen      273    1.033316
123                        Volvo     1312    0.057454
124        Wallace Environmental      277    5.744609
125                         Yugo      508    0.520953
126                        smart      447    2.229253

[127 rows x 3 columns]

Join the cars dataframe with the car brands dataframe.

In [ ]:
# code here

Which brands have the most revenue?

In [86]:
# code here  #Took me forever to understand that I first had to SAVE the whole cars.Make.value_counts().... to a value (ex brands) and THEN print brands :/ 

#cars.Make.value_counts().sort_values(ascending=False).reset_index().head(5)
#brands=brands.revenue.value_counts().sort_values(ascending =False)
brands=brands.groupby(['brand']).agg({"revenue" : "max"}).sort_values(by = 'revenue',ascending =False)

# Print the top 10 with highest revenue
brands.head(10)

                             revenue
brand
Geo                             1988
Volga Associated Automobile     1965
Goldacre                        1958
Ferrari                         1946
CX Automotive                   1935
BMW Alpina                      1931
Bertone                         1922
Grumman Olson                   1883
Renault                         1883
Bugatti                         1878